In [1]:
import pandas as pd
import numpy as np

In [7]:
# load the Excel workbook and first sheet into a DataFrame
file_path = "../data/raw/ELECTRICITY_SOLD_TO_ULTIMATE_CONSUMERS.xls"
xls = pd.ExcelFile(file_path)
print("Available sheets:", xls.sheet_names)
df = pd.read_excel(xls, sheet_name=0)
df.head()

Available sheets: ['Sales to customers - All India', 'Sales to customers - statewise']

,Year,Total sold to ultimate consumers,Domestic,Commercial,Industrial Power at low & medium voltage,Industrial Power at high voltage,Public lighting,Traction,Agriculture,Public water works & sewage pumping,Miscellaneous
0,2000-01,209216.92,75628.95,22544.66,28302.46,79319.13,3421.72,8213.46,84729.26,7043.52,7396.45
1,2001-02,214717.06,79694.38,24139.78,28160.03,79135.57,3587.30,8105.65,81673.39,7369.79,10593.44
2,2002-03,227726.01,83355.08,25437.25,30572.00,84386.76,3974.92,8796.91,84485.95,7898.70,10690.70
3,2003-04,360937.24,89735.78,28201.49,32815.40,91757.68,4426.10,9210.11,87089.25,9218.95,8482.49
4,2004-05,386133.66,95659.47,31381.23,32334.67,104354.58,4967.58,9495.33,88555.35,9618.49,8866.96

In [9]:
# Select rows for 2000–01 to 2007–08 and required columns
df_clean = df.iloc[1:9, [0, 1]].copy()

# Rename columns
df_clean.columns = ["Year", "Total_Electricity_Consumption"]

# Reset index
df_clean.reset_index(drop=True, inplace=True)

df_clean

       Year  Total_Electricity_Consumption
0   2001-02                      214717.06
1   2002-03                      227726.01
2   2003-04                      360937.24
3   2004-05                      386133.66
4   2005-06                      411886.93
5   2006-07                      455748.47
6   2007-08                      501977.11
7   2008-09                      527563.97

In [10]:
# Convert consumption column to numeric
df_clean["Total_Electricity_Consumption"] = pd.to_numeric(
    df_clean["Total_Electricity_Consumption"],
    errors="coerce"
)

# Check data types
df_clean.dtypes

Year                              object
Total_Electricity_Consumption    float64
dtype: object

In [11]:
# Check for missing values
df_clean.isnull().sum()

Year                             0
Total_Electricity_Consumption    0
dtype: int64

In [13]:
from pathlib import Path

# Save cleaned data as CSV (ensure target directory exists)
out_path = Path("data/processed/electricity_consumption_2000_2008.csv")
out_path.parent.mkdir(parents=True, exist_ok=True)

df_clean.to_csv(out_path, index=False)

print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!